:root {
  --white: #ffffff;
  --black: #000000;
  --color-primary: #2c3333;
  --color-primary-light: #395b64;
  --color-secondary-blue: #2666cf;
  --color-secondary-light: #f5f2e7;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
