.button {
  background-color: var(--color-secondary-blue);
  border-radius: 8px;
  border: none;
  color: var(--color-secondary-light);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.button:hover {
  background-color: rgba(38, 102, 207, 0.5);
  border-radius: 8px;
  border: none;
  color: var(--color-secondary-light);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
